<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the Homepage</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <p>Id: {{ user.id }}</p>
        <p>Email: {{ user.email }}</p>
        <p>all likes: {{ user.all_likes }}</p>
        <p>all views: {{ user.all_views }}</p>
        <p>influence: {{ user.influence }}</p>
        <p>reputation: {{ user.reputation }}</p>
    {% else %}
        <p>You are not logged in. Please <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'delete_account' %}">Delete Account</a>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post" action="{% url 'block_user' %}">
        {% csrf_token %}
        <input type="hidden" name="current_user_id" value="{{ user.id }}">
        <input type="text" name="block_user_id" placeholder="User ID to block" required>
        <button type="submit">Block</button>
    </form>
    <a href="{% url 'block_list' %}">我的黑名单</a>
    <a href="{% url 'create_article' %}">发表文章</a>
    <h2>Notifications</h2>
    <ul>
        {% for notification in notifications %}
            <li {% if not notification.read %}class="unread"{% endif %}>
                {{ notification.message }}
                <a href="{% url 'mark_as_read' notification.id %}">Mark as read</a>
            </li>
        {% empty %}
            <li>No notifications.</li>
        {% endfor %}
    </ul>
    <h2>我的Articles</h2>
    <ul>
        {% for article in articles %}
            <li><a href="{% url 'article_detail' article.id %}">{{ article.article_title }}</a> (Published on: {{ article.publish_time }})</li>
        {% endfor %}
    </ul>
    <li><a href="{% url 'create_course' %}">创建课程</a></li>
    <li><a href="{% url 'courselist' %}">查看课程</a></li>
    <li><a href="{% url 'articlelist' %}">查看文章</a></li>
</body>
</html>
