<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <label for="user_name">Username:</label>
        <input type="text" id="user_name" name="user_name" required><br>
        <label for="passwd">Password:</label>
        <input type="password" id="passwd" name="passwd" required><br>
        <button type="submit">Login</button>
    </form>
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <button id="redirect_register">没有账号?去注册</button>
    <button id="redirect_email">用邮箱登陆</button>
    <button id="redirect_reset">修改密码</button>
    <script>
        // 跳转
        const button_register = document.getElementById('redirect_register');
        const button_email = document.getElementById('redirect_email');
        const button_reset = document.getElementById('redirect_reset');

        button_register.addEventListener('click', function() {
            window.location.href = 'http://127.0.0.1:8000/user/register/';
        });
        button_email.addEventListener('click', function() {
            window.location.href = 'http://127.0.0.1:8000/user/login_email/';
        });
        button_reset.addEventListener('click', function() {
            window.location.href = 'http://127.0.0.1:8000/user/reset_password/';
        });
        </script>
</body>

</html>

